*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{  
    background:slategray;
}

.app{
    background-color: white;
    width: 60vh;
    height: 55vh;
    max-height: 90vh;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 30px;

}
.app h1{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.quiz{
    padding: 20px 0; 
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.btn{
    background-color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: #222;
}
.btn:hover([disabled]){
    color: white;
    background-color: #222;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: blue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}